
/*BASICS*/
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: #EFE9E5;
    font-family: 'Lora', serif;
}
header {
    margin: 10px;
}
/*ANIMATED HEADER BOX ELEMENTS*/
/*WHY DOES THE LEFT AND RIGHT ONE NOT WORK UGHHHH*/
.box {
    position: absolute;
/*    top: 10%;
    left: 20%; */
    transform: translate(-50%, -50);
    width: 800px;
    height: 250px;
    background: white;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px #A7A9AC; /*maybe remove*/
    border: 2px solid(#A7A9AC);
}
.box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background:#fff5bf;
    transition: 0.5s;
    pointer-events: none;
}
.box:hover::before {
    left: -50%;
    transform: skewX(-5deg);
}
.box .content {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 8px dotted #ffdf2e;
    text-align: center;
    box-shadow: 0 5px 10px #fffdf2;
}
.box .content .header1 {
    color: #01295C;
    font-family: 'Londrina Solid', cursive;
    font-size: 5em;
    margin: 0;
    padding: 0;
}

.box .content .header2 {
    color: #01295C;
    font-family: 'Londrina Outline', cursive;
    font-size: 6em;
    margin: -35px;
    padding: 0;
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}
.box span:nth-child(1) {
    transform: rotate(0deg);
}
.box span:nth-child(3) {
    transform: rotate(180deg);
} 
.box span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background: #ffdf2e;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%
    {
        transform: scaleX(0);
        transform-origin: left;
    }
    50%
    {
        transform: scaleX(1);
        transform-origin: left;
    } 
    50.1%
    {
        transform: scaleX(1);
        transform-origin: right;
    }
    100%
    {
        transform: scaleX(0);
        transform-origin: right;
    }
}

/*CONTAINER CONTENTS*/
.container {
    margin: auto;
}
/*SCORE BOARD STUFF*/

#score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: 'Righteous', cursive;
    position: relative;
}

.badge {
    background: #EB2226;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: 'Righteous', cursive;
}

#win-score {
    position: absolute;
    top: 30px;
    left: -25px;
}

#lose-score {
    position: absolute;
    top: 30px;
    right: -10px;
}
